<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast prices</title>
    <link rel="shortcut icon" href="{{ url_for ('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
</head>
<body>
    <header>
       <h1> <p> MACHINE LEARNING AND PROJECTS </p></h1> 
    </header>
    <nav>
        <a href="/"> Home </a>
        <a href="prediction"> Prediction </a>
        <a href="projects"> My Projects </a>
        <a href="contact"> Contact </a>
    </nav>
    <main>
        <p> <h2> Contact: </h2>  </p>
        <br><br>
        <p> <strong> Email: </strong>  emersonjr25@hotmail.com </p>
        <br>
        <p> <strong> Github: </strong> <a href="https://github.com/emersonjr25"> https://github.com/emersonjr25 </a></p>
        <br>
        <p> <strong> Site: </strong> <a href="https://emersonbarbosajunior.wordpress.com/"> https://emersonbarbosajunior.wordpress.com/ </a> </p>
        <br>
        <p> <strong> Linkedin:  </strong><a href="https://www.linkedin.com/in/emersonbarbosajunior/">  https://www.linkedin.com/in/emersonbarbosajunior/ </a></p>
        <br>
        <p> <strong> Currículo Acadêmico: </strong>  <a href="http://lattes.cnpq.br/7439599605129713"> http://lattes.cnpq.br/7439599605129713</a></p>
        <br>
        <p> <strong> Youtube: </strong>  <a href="https://www.youtube.com/@emersonbarbosajunior"> https://www.youtube.com/@emersonbarbosajunior </a> </p>
    </main>
    <footer>
        <p> Site created by <a href="https://emersonbarbosajunior.wordpress.com/"> Emerson Barbosa Júnior. </a> </p>
    </footer>
</body>
</html>