<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast prices</title>
    <link rel="shortcut icon" href="{{ url_for ('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
</head>
<body>
    <header>
       <h1> <p> MACHINE LEARNING AND PROJECTS </p></h1> 
    </header>
    <nav>
        <a href="/"> Home </a>
        <a href="prediction"> Prediction </a>
        <a href="projects"> My Projects </a>
        <a href="contact"> Contact </a>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div>
                    <a href="/prediction"> Adicionar</a>
                </div>
                 <table class="table">
                     <thead>
                        <tr>
                            <th>ID</th>
                            <th>COLUMN</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                 </table>
                 <tbody>
                    {% for i in machine_learning %}
                    <tr>
                        <th>{{i.id}}</th>
                        <th>{{i.Lot_size}}</th>
                        <th><a href="/delete/{{i.id}}"> Excluir </a></th>
                    </tr>
                    {% endfor %}
                 </tbody>
            </div>
        </div>
    </main>
    <footer>
        <p> Site created by <a href="https://emersonbarbosajunior.wordpress.com/"> Emerson Barbosa Júnior. </a> </p>
    </footer>
</body>
</html>