<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast prices</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
</head>
<body>
    <header>
       <h1> <p> MACHINE LEARNING AND PROJECTS </p></h1> 
    </header>
    <nav>
        <a href="/"> Home </a>
        <a href="prediction"> Prediction </a>
        <a href="projects"> My Projects </a>
        <a href="contact"> Contact </a>
    </nav>
    <main>
        <br>
        <h2> SOON PROJECTS HERE </h2>
        <br>
    </main>
    <footer>
        <p> Site created by <a href="https://emersonbarbosajunior.wordpress.com/"> Emerson Barbosa Júnior. </a> </p>
    </footer>
</body>
</html>